<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-6">
					<%= image_tag("hexaron2.png", class: "img-responsive") %>
				</div>
				<div class="col-xs-6 student-profile-title">
					<h4>Aron Eidelman</h4>
					<h5>Philosophy Major</h5>
					<h5>Aspiring Web Developer</h5>
				</div>
			</div>
			<p>Stuff</p>
		</div>
		<div class="col-sm-6 hidden-xs">
			<p>Job 1</p>
			<p>Job 2</p>
			<p>Job 3</p>
			<p>Job 4</p>
			<p>Job 5</p>
			<p>Job 6</p>
		</div>
	</div>
</div>